.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.btn_edit {
    background-color: #2205ff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fafafa;
    cursor: pointer;
}

section {
    padding-bottom: 2%;
}

.btn_new {
    background-color: #2205ff;
    border: 1px solid #00ff1a;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fafafa;
    cursor: pointer;
}